{
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended", "plugin:react/jsx-runtime"],
    "rules": {
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off",
        "prettier/prettier": [
            "error",{
            "endOfLine": "auto"}
        ]
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ]
}
