html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Back button background */
.backbtn {
  background-color: white;
  color: #044b7f;
  outline: none;
  text-decoration: underline;
}
/* next button background */
.nextbtn {
  background-color: #044b7f;
  color: white;
  border-radius: 5px;
}
