html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.secondQuestion {
  justify-content: center;
  text-align: center;
  justify-items: center;
  margin-top: 10rem;
}
/* add css for table responsive */

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .square-grid > p {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    font-size: 2px;
  }
  /* td > p {
    font-size: calc(8px + 3vmin);
    font-size: 2px;
  }
  .responsivebar {
    height: "50";
    width: "100%";
  } */
  /* Force table to not be like tables anymore */
  table,
  tbody,
  td,
  tr {
    display: grid;
    justify-content: center;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
